body {
  display: block;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.circular {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #E4F9F5;
}

.bottom-container {
  background-color: #E4F9F5;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.underline{
  text-decoration: underline;
}
